<div class=" score sticky" *ngIf="model.length && loaded"><p>{{totalLearnt}}/{{model.length}}</p></div>

<a class="home" mat-flat-button routerLink="/tool"><span class="material-icons">abc</span></a>

<div class="toggle-container">
    <mat-slide-toggle [checked]="showDefinition" (change)="toggleShowDefinition()" class="mat-slide-toggle ">Definition</mat-slide-toggle>
    <mat-slide-toggle [checked]="learntFilter" (change)="showLearnt()" class="mat-slide-toggle ">Learnt</mat-slide-toggle>
    <mat-checkbox [checked]="allChecked" (change)="showAll()"  class="mat-slide-toggle ">All</mat-checkbox>
</div>
  
<div class="kontent">
    <div fxLayout="row wrap" fxLayoutGap="35px">

        <!-- spinner if waiting data to load -->
        <div class="spinner">
            <mat-spinner *ngIf="!loaded"></mat-spinner>
        </div>

        <!-- no words component if result empty -->
        <div *ngIf="!model.length && loaded">
            <app-no-words></app-no-words>
        </div>

        <!-- flashcard -->
        <div  *ngFor="let element of model" fxLayout="row wrap">
            <mat-card *ngIf="element" class="example-card mat-elevation-z5">
                <ng-container *ngIf="showDetails">
                    <mat-card-header class="header">
                        <mat-card-title><a href="https://www.dictionary.com/browse/{{element.word}}" target="_blank">{{element.word}}</a> <i> ({{element.pos}})</i></mat-card-title>
                        <mat-card-subtitle class="sub">
                            <ng-container *ngIf="showDefinition">
                                {{element.definition}}
                            </ng-container>
                        </mat-card-subtitle>
                        <div class="check-box"><mat-checkbox [checked]="getCheckboxStatus(element.id)"  (change)="onCheckboxChange(element.id, $event.checked)"></mat-checkbox></div>
                    </mat-card-header>
                    <hr>
                    <mat-card-content class="content">
                        Example : {{element.example}}
                    </mat-card-content>
            </ng-container>
            <ng-container *ngIf="!showDetails">
                    <p class="word-center"><b><i>{{element.word}}</i></b></p>
                    <div class="check-box"><mat-checkbox [checked]="getCheckboxStatus(element.id)"  (change)="onCheckboxChange(element.id, $event.checked)"></mat-checkbox></div>
            </ng-container>
            </mat-card> 
        </div>
    </div>
</div>