<a class="home" mat-flat-button routerLink=""><span class="material-icons">abc</span></a>

<div class="kontent">
  <div fxLayout="row wrap" fxLayoutGap="35px">
    <div class="spinner">
      <mat-spinner *ngIf="!response"></mat-spinner>
    </div>
    
    <div *ngIf="hasLoaded" fxLayout="row wrap">
      <div *ngFor="let w of paginatedResponse">
        <div (click)="showDefinition[w.id] = !showDefinition[w.id]" class="card">
          <p style="font-size: 20px;">{{w.word}}</p>
          <div *ngIf="showDefinition[w.id]" class="definition">
            <p style="color:red"><i>{{w.definition}}</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="paginator" *ngIf="hasLoaded && response">
    <mat-paginator class="paginator"  [length]="response.length" [pageSize]="itemsPerPage"   [pageSizeOptions]="[40,45,54,63,72,90]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
  </div>
</div>
