p{
    color:#152238;
    align-items: center;
    text-align: center;
}

.home{
    background-color:#152238;
    color:#FFFEF2;
}
.material-icons {
font-size: 45px;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: darkgrey;
}

.spinner{
    width: 6.25rem;
    height: 6.25rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.content {
    margin-top: 3.125rem;
    padding: 0.928rem;
    display: grid;
    gap: 1.875rem;
    align-items: center;
    font-family: "Lato", sans-serif;
    width: 100%;    

    /* Updated styles for smaller screens */
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 500px) {
        /* For screens with width >= 576px, display 2 columns */
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        /* For screens with width >= 768px, display 3 columns */
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 992px) {
        /* For screens with width >= 992px, display 4 columns */
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1200px) {
        /* For screens with width >= 1200px, display 5 columns */
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1400px) {
        /* For screens with width >= 1400px, display 6 columns */
        grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: 1600px) {
        /* For screens with width >= 1600px, display 7 columns */
        grid-template-columns: repeat(7, 1fr);
    }
}

.kontent{
    align-items: center;
    text-align: center;
}

.card {
    background-color: #FFFEF2;
    width: 150px;
    height: 65px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:gray;
}

.definition {
    background-color: #FFFEF2;
    width: 150px;
    color: gray;
    height: 65px;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}