p{
    color:darkgray;
}

.nowords-card{
   
    height:300px;
    width: 500px;
    border-radius: 5px;
    position: relative;
    /* background-color: #152238; */
}


.sync-card{
    height:300px;
    width: 500px;
    border-radius: 10px;
    background-color: grey;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}

.copy-button{
    background-color: grey;
    color: white;
}

.sync-button-container {
    margin-top: auto; 
    align-items: center;
    justify-content: center;
    text-align: center;

}
