<mat-sidenav-container fullscreen style="background-color: #c3c8bb;">
    <!-- <mat-sidenav #sidenav opened="true" mode="side" style="background-color:grey">
        <mat-nav-list >
            <mat-list-item></mat-list-item>
            <mat-list-item>
                <a mat-flat-button routerLink="quickreview" style="transform: scale(1.4); background-color: grey;"><span class="material-icons">bolt</span></a>
            </mat-list-item><mat-list-item></mat-list-item>

            <mat-list-item>
                <a mat-flat-button routerLink="random" style="transform: scale(1.4); background-color: grey;"><span class="material-icons">shuffle</span></a>
            </mat-list-item><mat-list-item></mat-list-item>

            <mat-list-item>
                <a mat-flat-button routerLink="quickreview" style="transform: scale(1.4); background-color: grey;"><span class="material-icons">cloud_sync</span></a>
            </mat-list-item>
        </mat-nav-list>
      </mat-sidenav> -->

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      <mat-toolbar color="primary" class="custom-toolbar sticky mat-elevation-z5">
        
        <!-- <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
        </button>  -->
        <button mat-button><span class="material-icons">info</span></button>
        <span style="margin-left: 10px;">VocabCards</span>
        <div class="spacer"></div>
        <span class="middle-text">{{totalLearntLBM}}/1067</span> 
        <!-- <button mat-button>{{totalLearntLBM}}/1067</button> -->
        <button mat-button (click)="toggleSearch()"><span class="material-icons">search</span></button>
        <div class="search-box" *ngIf="showSearch">
          <input
            type="text"
            [(ngModel)]="userInput"
            placeholder="Search..."
            (input)="filterSuggestions()"
          />
        </div>
        
        <div *ngIf="suggestions.length > 0" class="suggestions">
          <div *ngFor="let suggestion of suggestions" class="suggestion">
            <a routerLink="flashcards/letter/{{suggestion.charAt(0)}}" style=" text-decoration: none; color: black;">{{ suggestion }}</a>
          </div>
        </div>

        <button mat-button routerLink="/quickreview"><span class="material-icons">bolt</span></button>
        <button mat-button routerLink="/random"><span class="material-icons">shuffle</span></button>
        <button mat-button (click)="openSyncDialog()"><span class="material-icons">cloud_sync</span></button>
        <button mat-button><span class="material-icons">person</span></button>
        
      </mat-toolbar>

      <div class="overlay" *ngIf="!loaded">
        <mat-spinner></mat-spinner>
      </div>
    
      <div class="content" *ngIf="loaded"> 
        <ng-container *ngFor="let letter of letters">
        
          <div class="card mat-elevation-z5" *ngIf="hasLoaded.get(letter) && (letter!=='X' && letter!=='Y')">
            <a routerLink="/flashcards/letter/{{letter}}" mat-flat-button>
              <p>
                <app-letter [letter]="letter" [percentage]="map.get(letter)"></app-letter>
              </p>
            </a>
          </div>
          <div class="card mat-elevation-z5" *ngIf="letter=='X' || letter=='Y'">
            <a (click)="openDialog()" mat-flat-button>
              <p>
                <app-letter [letter]="letter" [percentage]="map.get(letter)"></app-letter>
              </p>
            </a>
          </div>
        </ng-container>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>