/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
html, body {
  min-height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #c3c8bb;
}

/* .background-primary { background-color: #152238; } */
