
<mat-sidenav-container fullscreen style="background-color: #c3c8bb">
  <mat-toolbar color="primary" class="custom-toolbar sticky mat-elevation-z5">
      <button mat-button><span class="material-icons" routerLink="/tool" style="font-size: 45px;">abc</span></button>
      <span style="margin-left: 10px;">VocabCards</span>
      <div class="spacer"></div>
      <!-- <button mat-button><span class="material-icons">search</span></button> -->
      <button mat-button routerLink="/quickreview"><span class="material-icons">bolt</span></button>
      <!-- <button mat-button routerLink="/random"><span class="material-icons">shuffle</span></button> -->
      <button mat-button><span class="material-icons">person</span></button>
  
      <!-- <button mat-button>{{totalLearntLBM}}/1067</button> -->
  
      <!-- <a class="home" mat-flat-button routerLink="quickreview"><span class="material-icons">bolt</span></a>
      <a class="home" mat-flat-button routerLink="random"><span class="material-icons">shuffle</span></a>
      <a class="home" mat-flat-button><span class="material-icons" style="color: whitesmoke;">cloud_sync</span></a> -->
     
      
  </mat-toolbar>

  <div class="container">
    <div *ngIf="loaded && response" class="random-word-card">
      <mat-card *ngIf="response" class="example-card mat-elevation-z5">
        <mat-card-header class="header">
          <mat-card-title><a href="https://www.dictionary.com/browse/{{response.word}}" target="_blank">{{response.word}}</a><i> ({{response.pos}})</i></mat-card-title>
          <mat-card-subtitle class="sub">{{response.definition}}</mat-card-subtitle>
          <div class="check-box"><mat-checkbox [checked]="getCheckboxStatus(response.id)"  (change)="onCheckboxChange(response.id, $event.checked)"></mat-checkbox></div>
          <!-- <a class="report-problem" mat-flat-button (click)="reportedId()"><span class="material-icons" style="color:red;font-size:23px;">report_problem</span></a> -->
        </mat-card-header>
        <hr>
        <mat-card-content class="content">
          Example: {{response.example}}
        </mat-card-content>
      </mat-card>
    </div>
    <a class="refresh mat-elevation-z5" mat-flat-button (click)="reloadPage()" ><span class="material-icons" style="font-size: 30px;">refresh</span></a>
    <br>
  </div>