<a class="home" mat-flat-button routerLink=""><span class="material-icons">abc</span></a>
<div class="container">
    <div *ngIf="loaded && response" class="random-word-card">
      <mat-card *ngIf="response" class="example-card mat-elevation-z5">
        <mat-card-header class="header">
          <mat-card-title><a href="https://www.dictionary.com/browse/{{response.word}}" target="_blank">{{response.word}}</a><i> ({{response.pos}})</i></mat-card-title>
          <mat-card-subtitle class="sub">{{response.definition}}</mat-card-subtitle>
          <div class="check-box"><mat-checkbox [checked]="getCheckboxStatus(response.id)"  (change)="onCheckboxChange(response.id, $event.checked)"></mat-checkbox></div>
          <!-- <a class="report-problem" mat-flat-button (click)="reportedId()"><span class="material-icons" style="color:red;font-size:23px;">report_problem</span></a> -->
        </mat-card-header>
        <hr>
        <mat-card-content class="content">
          Example: {{response.example}}
        </mat-card-content>
      </mat-card>
    </div>
    <a class="refresh" mat-flat-button (click)="reloadPage()" ><span class="material-icons">refresh</span></a>
    <br>
  </div>
  